# Extração dos dados Enade

In [6]:
# Importar bibliotecas necessários
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

In [8]:
# Criar um diretório para armazenar o conteúdo do ENADE
os.makedirs('./enade2019', exist_ok=True)

In [10]:
# Define a url
url = "https://download.inep.gov.br/microdados/Enade_Microdados/microdados_enade_2019.zip"

#Faz o download do conteúdo
filebytes = BytesIO(
    requests.get(url).content
)

# Extrair o conteúdo do zipfile
myzip = zipfile.ZipFile(filebytes)
myzip.extractall("./enade2019")

# Verificando os dados baixados

In [14]:
# Leitura dos dados
enade = pd.read_csv(
    "./enade2019/3.DADOS/microdados_enade_2019.txt",
    sep = ";", 
    decimal = ","
)

In [17]:
enade

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433925,2019,430,10008,10020,55,83604,1,4113700,41,4,...,6,6,5,5,5,6,6,5,2,6
433926,2019,430,10008,10020,55,83604,1,4113700,41,4,...,6,4,6,6,6,6,6,5,4,5
433927,2019,430,10008,10020,55,83604,1,4113700,41,4,...,4,6,6,5,5,6,6,6,6,6
433928,2019,430,10008,10020,55,83604,1,4113700,41,4,...,6,4,5,6,6,6,5,5,8,6
433929,2019,430,10008,10020,55,83604,1,4113700,41,4,...,4,4,4,4,3,4,5,5,3,6

In [19]:
enade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433930 entries, 0 to 433929
Columns: 137 entries, NU_ANO to QE_I68
dtypes: float64(2), int64(33), object(102)
memory usage: 453.6+ MB

In [21]:
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('int64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('O'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('int64'),
 'TP_PR_GER': dtype('int64'),
 'TP_PR_OB_FG': dtype('int64'),
 'TP_PR_DI_FG': dtype('int64'),
 'TP_PR_OB_CE': dtype('int64'),
 'TP_PR_DI_CE': dtype('int64'),
 'TP_SFG_D1': dtype('int64'),
 'TP_SFG_D2': dtype('int64'),
 'TP_SCE_D1': dtype('int64'),
 'TP_SCE_D2': dtype('int64'),
 'TP_SCE_D3': dtype('int64'),
 'NT_GER': dtype('O'),
 'NT_FG': dtype('O'),
 'NT_OBJ_FG': dtype('O'),
 'NT_DIS_FG': dtype('O'),
 'NT_FG_D1': dtype('O'),
 'NT_FG_D1_PT': dtype('O'),
 'NT_FG_D1_CT': dtype('O'),
 'NT_FG_D2': dtype('O'),
 'NT_FG_D2_PT': dtype('O'),
 'NT_FG_D2_CT': dtype('O'),
 'NT_CE': dtype('O'),
 'NT_OBJ_CE': dtype('O'),
 'NT_DIS_CE': dtype('O'),
 'NT_CE_D1': dtype('O'),
 'NT_CE_D2': dtype('O'),
 'NT_CE_D3': dtype('O'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('O'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('O'),
 'QE_I28': dtype('O'),
 'QE_I29': dtype('O'),
 'QE_I30': dtype('O'),
 'QE_I31': dtype('O'),
 'QE_I32': dtype('O'),
 'QE_I33': dtype('O'),
 'QE_I34': dtype('O'),
 'QE_I35': dtype('O'),
 'QE_I36': dtype('O'),
 'QE_I37': dtype('O'),
 'QE_I38': dtype('O'),
 'QE_I39': dtype('O'),
 'QE_I40': dtype('O'),
 'QE_I41': dtype('O'),
 'QE_I42': dtype('O'),
 'QE_I43': dtype('O'),
 'QE_I44': dtype('O'),
 'QE_I45': dtype('O'),
 'QE_I46': dtype('O'),
 'QE_I47': dtype('O'),
 'QE_I48': dtype('O'),
 'QE_I49': dtype('O'),
 'QE_I50': dtype('O'),
 'QE_I51': dtype('O'),
 'QE_I52': dtype('O'),
 'QE_I53': dtype('O'),
 'QE_I54': dtype('O'),
 'QE_I55': dtype('O'),
 'QE_I56': dtype('O'),
 'QE_I57': dtype('O'),
 'QE_I58': dtype('O'),
 'QE_I59': dtype('O'),
 'QE_I60': dtype('O'),
 'QE_I61': dtype('O'),
 'QE_I62': dtype('O'),
 'QE_I63': dtype('O'),
 'QE_I64': dtype('O'),
 'QE_I65': dtype('O'),
 'QE_I66': dtype('O'),
 'QE_I67': dtype('O'),
 'QE_I68': dtype('O')}